<div class="container">
  <mat-toolbar class="app-toolbar">
    <span>Vetnary App Dashboard</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <mat-grid-list cols="4" rowHeight="2:1" class="center-screen">
    <mat-grid-tile (click) = "gotoMenu(1)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileTextIcon" style="font-size: 4em;color:gray"></fa-icon>
          <div>
            <p>Veterinary Content</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(2)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileVideoIcon" style="font-size: 4em;color:olive;"></fa-icon>
          <div>
            <p>Videos</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(3)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileCalculatorIcon" style="font-size: 4em;color:mediumorchid;"></fa-icon>
          <div>
            <p>Clinical Calculators</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(4)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileBookMedical" style="font-size: 4em;color:mediumblue;"></fa-icon>
          <div>
            <p>Resources</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(5)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileNews" style="font-size: 4em;color:limegreen;"></fa-icon>
          <div>
            <p>News & Commentary</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(6)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="filePetHealth" style="font-size: 4em;color:lightblue;"></fa-icon>
          <div>
            <p>Pet Health</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile (click) = "gotoMenu(7)">
      <mat-card>
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <fa-icon [icon]="fileFavourite" style="font-size: 4em;color:red;"></fa-icon>
          <div>
            <p>Favorites</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
