mat-grid-tile {
  padding: 20px 20px 20px 20px;
}

mat-grid-list {
  margin: 0 auto;
  background: lightblue;
}

.container{
  height: 100%;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


mat-card {
  width: calc(100% - 10%);
  height: calc(100% - 20%);
  justify-content: center
}
mat-card-content{
  justify-content: center
}
